<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display All Records</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<h1>Experience Displayed Report</h1>

<table>

    <tr>
        <td><p>Title</p></td>
        <td><p>Company Name</p></td>
        <td><p>Duty1</p></td>
        <td><p>Duty2</p></td>

    </tr>


    <th:block th:each="expo:${robo.experience}">
        <tr>
            <td><p th:text="${expo.title}"/></td>
            <td><p th:text="${expo.companyName}"/></td>
            <td><p th:text="${expo.duty1}"/></td>
            <td><p th:text="${expo.duty2}"/></td>

        </tr>
    </th:block>
</table>
<!--initiates a GET back to /add an employee-->
<a href="enterexperience.html"> Please Enter Another EXperience</a>
<a href="displayresume.html">View Full Resume</a>
</body>
</html>