<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>

</head>
<body>
<nav class="navbar navbar-inverse"> <div class="container-fluid"> <div class="navbar-header"> <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a href="#" class="navbar-brand">HR Home Page</a> </div> <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9"> <ul class="nav navbar-nav"> <li class="active"><a href="#">HR Page</a></li> <li><a href="enterresume.html">New Resume</a></li> <li><a href="displayresume.html">Full Resume Report</a></li> </ul> </div> </div> </nav>
<div class="container">

<h1>Enter Experience Details</h1>

<form action="#" th:action="@{/enterexperience}" th:object="${newexp}" method="post">


    <p>Enter Job Title <input type="text" th:field="*{title}"/></p>
    <span class="container" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Title</span>


    <p>Enter Company Name <input type="text" th:field="*{companyName}"/></p>
    <span class="container" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"> Company Name</span>
    <p>Enter First Duty <input type="text" th:field="*{duty1}"/></p>
    <span class="container" th:if="${#fields.hasErrors('duty1')}" th:errors="*{duty1}"> Duty1</span>

    <p>Enter Second Duty: <input type="text" th:field="*{duty2}"/></p>
    <span class="container" th:if="${#fields.hasErrors('duty2')}" th:errors="*{duty2}"> Duty2</span>


    <input type="submit" value="AddExperience"/>
    <input type="reset" value="Reset"/>

</form>



    <img src="http://www.letu.edu/opencms/export/sites/default/alumni/Life_after_LETU/SeniorBook/resumegoodatstuff2.jpg" height="900" width="636"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</div>
</body>
</html>