<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Welcome - Enter Experience Details</title>
</head>
<body>

<h1></h1>

<form action="#" th:action="@{/enterexperience}" th:object="${newexp}" method="post">


    <p>Enter Job Title <input type="text" th:field="*{title}"/></p>
    <p>Enter Company Name <input type="text" th:field="*{companyName}"/></p>
    <p>Enter First Duty <input type="text" th:field="*{duty1}"/></p>
    <p>Enter Second Duty: <input type="text" th:field="*{duty2}"/></p>

    <input type="submit" value="AddExperience"/>
    <input type="reset" value="Reset"/>

</form>
</body>
</html>